DB_HOST=srv1524.hstgr.io
DB_PORT=3306
DB_USER=u235343041_chadebebe
DB_PASSWORD=change-me
DB_NAME=u235343041_chadebebe

JWT_SECRET=change-me
JWT_EXPIRE_MINUTES=10080

CORS_ORIGINS=http://localhost:3000,http://localhost:5173
